.borrow-ul-2{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: rgba(197, 58, 174, 0.523);

}

.borrowQuantityTextBox{
    float: right;
    width: 10%;
    text-align: center;
    background-color: rgba(197, 58, 174, 0.523);
    border: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.bring-ul-2{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: rgba(51, 53, 185, 0.596);

}

.bringQuantityTextBox{
    float: right;
    width: 10%;
    text-align: center;
    background-color: rgba(51, 53, 185, 0.596);
    border: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}