.YellowHighlightAddSearch{
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 4px 1px rgba(0,0,0,0.18); /*Box shadow Genereated with online box shadow generator*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
}

.YellowHighlightAddSearch input {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    padding: 10px 5px;
    box-sizing: border-box; 
    outline: none; /*removes the text input blue highlighting*/
}

.YellowHighlightAddSearch ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
}

.ul-3{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: rgba(201, 196, 59, 0.523);
}




.YellowHighlightAddSearch ul::before{ /*allows us to remove the spacing between the input box and the ul*/
    content: "";
}

.YellowHighlightAddSearch li{
    padding: 10px 5px;
    cursor: pointer;
}

.YellowHighlightAddSearch li:hover{
    text-decoration: underline;
    background-color: rgba(128,128,128,0.2);
}